!!!
%html
  %head
    %title IWTA
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    / Bootstrap
    -# %link{rel: "stylesheet", href: "/vendor/bootstrap/css/bootstrap.min.css" }/
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}/
    / jQuery
    -# %script{src:   "/vendor/jquery-1.11.3.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    -# %script{src: "/vendor/bootstrap/js/bootstrap.min.js"}
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    / Custom things
    %link{rel: 'stylesheet', href: "#{stylesheet_path 'app'}"}
    %script{src: "#{javascript_path 'app'}"}

  %body
    .container
      / Static navbar
      %nav.navbar.navbar-default{:role => "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Home
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "/play-golf"}
                %i.fa.fa-flag
                Play Golf!
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
                Courses
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "/course/list"}
                    %i.fa.fa-list
                    List
                %li
                  %a{href: "/course/add"}
                    %i.fa.fa-plus-circle
                    Add
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
                Rounds
                %b.caret
              %ul.dropdown-menu
                -# %li
                -#   %a{href: "/course/list"}
                -#     %i.fa.fa-list
                -#     List
                %li
                  %a{href: "/round/import"}
                    %i.fa.fa-plus-circle
                    Bulk Add
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#'}
                Users
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "/users"}
                    %i.fa.fa-list
                    List
                %li
                  %a{href: "/users/add"}
                    %i.fa.fa-plus-circle
                    Add

          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = @user.email rescue "Hello stranger"
                %b.caret
              %ul.dropdown-menu
                -if !@user.nil?
                  %li
                    %a{href: "/users/#{@user.id}"} Profile
                  %li
                    %a{href: '/logout'} Logout
                -else
                  %li
                    %a{href: '/login'} Login / Signup

        / /.nav-collapse
      %div
        - if flash[:error] then
          .alert.alert-danger
            %i.fa.fa-exclamation-triangle
            = flash[:error]
            %button.close{type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close'}
              %span{'aria-hidden': 'true'}
                %i.fa.fa-times

        - if flash[:notice] then
          .alert.alert-success
            %i.fa.fa-check-square
            = flash[:notice]
            %button.close{type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close'}
              %span{'aria-hidden': 'true'}
                %i.fa.fa-times

        = yield
