%h1
  %img.profile{src: @this_user.gravatar_url}
  =@this_user.name
.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %i.fa.fa-fw{class: "#{@this_user.sex == 'F' ? 'fa-female' : 'fa-male'}"}
          %span.text User Profile
      .table-responsive
        .table.table-hover
          %table.table.table-hover
            %tbody
              %tr
                %th{scope: :row} Display Name
                %td=@this_user.first_name
              %tr
                %th{scope: :row} Email
                %td=@this_user.email
              %tr
                %th{scope: :row} Handicap
                %td=@this_user.handicap
    -if @this_user == @user || logged_in_user_is_admin?
      %a{href: "/users/#{@this_user.id}/edit"} Edit my profile
      |
    -if @this_user == @user || logged_in_user_is_admin?
      %a{href: "/users/#{@this_user.id}/refresh"} Force handicap refresh
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %i.fa.fa-fw.fa-star
          %span.text Recent rounds
      .table-responsive
        .table.table-hover
          %table.table.table-hover.tablesorter
            %thead
              %tr
                %th{scope: :col} Date
                %th{scope: :col} Course
                %th{scope: :col} Format
                %th{scope: :col} Score
                %th{scope: :col} Differential
            %tbody
              -@rounds.each do |r|
                %tr
                  %th{scope: :row}=r.played_date
                  %td=r.tee.course.name rescue "wtf"
                  %td=r.format
                  %td=r.score
                  %td
                    ="%.1f" % r.differential.to_f
                    -if logged_in_user_is_admin? || @this_user.id == @user.id
                      %a{href: "/round/#{r.id}/delete"}
                        %i.fa.fa-bomb
            %tfoor
              %tr
                %td{colspan: 5}
                  Page
                  -(1..10).each do |n|
                    %a{href: "?p=#{n}"}=n
